/* Modal Container */
.Outil-modal {
	position: fixed;
	z-index: 99999;
	left: 35%;
	top: 15%;
	width: 550px;
	/* Adjusted to fit content */
	height: fit-content;
	/* Adjusted to fit content */
	max-height: 80vh;
	/* Maximum height */
	background-color: none;
	border-radius: 8px;
	overflow: hidden;
}

/* Modal Content */
.Outil-content {
	display: relative;
	background-color: #cccccc;
	border: 1px solid #888;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: left;
	padding: 10px;
	/* Added */
	padding-top: 30px;
	/* Adjusted */
}

/* Titre Container */
.Outil-titre-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/* Adjusted to span the entire width */
	height: 40px;
	background-color: #996633;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
}

.Outil-titre {
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	color: yellow;
	overflow: hidden;
	text-overflow: ellipsis;
	/* Added ellipsis for overflow */
	white-space: nowrap;
	/* Prevent wrapping */
}

.Outil-container {
	margin-top: 15px;
	margin-bottom: 10px;
	overflow: scroll;
	overflow-y: auto;
	/* Show vertical scrollbar when needed */
	overflow-x: hidden;
	max-height: 300px;
	height: fit-content;
	padding-left: 10px;
	padding-right: 10px;
}


/* Buttons Container */
.Outil-btns-container {
	display: flex;
	justify-content: center;
}

/* Button */
.Outil-btn1 {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
}
